In [2]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
df = pd.read_excel('superyacht.xlsx', sheet_name='YachtOwners', engine='openpyxl')

In [14]:
df.head(20)

,Name,Name 2,Added,Motor/Sail,length,Builder,Value $\n (approx.),Volume,Value/GT,Year,...,Spouse,Children,Link to SYF,Remark,PRIVATE JET,Remark.1,Unnamed: 35,Added to database,Proof,Unnamed: 38
0,818,NaN,NaN,Motor,77m (253ft),Feadship,120000000.0,1900.0,63.157895,2019,...,NaN,NaN,https://www.superyachtfan.com/yacht/pi/,NaN,(N888RF) Bombardier Global 5000,NaN,NaN,NaN,NaN,NaN
1,24 Karat,NaN,NaN,Motor,32m (106ft),Lazzara Yachts,5000000.0,189.0,26.455026,2002,...,NaN,NaN,https://www.superyachtfan.com/yacht/24-karat,NaN,Hawker 800A (N24JG),NaN,NaN,NaN,NaN,NaN
2,4US,NaN,march-23,Motor,43m (141ft),Overmarine,25000000.0,450.0,55.555556,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4YOU,NaN,NaN,Motor,47m (154ft),Heesen Yachts,20000000.0,493.0,40.567951,2009,...,NaN,NaN,https://www.superyachtfan.com/yacht/4you,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4You,NaN,NaN,Motor,54m (178ft),Amels,30000000.0,642.0,46.728972,2012,...,Tatyana Pisareva,"Anton Pisarev, Artem Pisarev, Alexander Pisare...",https://www.superyachtfan.com/yacht/4you,NaN,(M-JETZ) Dassault Falcon 2000,NaN,NaN,NaN,NaN,NaN
5,60 Years,NaN,NaN,Sail,46m (150ft),Royal Craft,10000000.0,273.0,36.630037,2012,...,Ebru Gündeş\n,Alara Zarrab\n,https://www.superyachtfan.com/yacht/60-years/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,A,NaN,NaN,Motor,119m (390ft),Blohm Voss,300000000.0,5500.0,54.545455,2008,...,Masami Ohno,2,https://www.superyachtfan.com/yacht/a,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,A and A,NaN,2021-11-01 00:00:00,Motor,45m (147ft),Feadship,7000000.0,347.0,20.172911,1966,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,A+ / Topaz,NaN,NaN,Motor,147m (483ft),Lurssen Yachts,450000000.0,12532.0,35.908075,2012,...,NaN,NaN,https://www.superyachtfan.com/yacht/a-plus/,NaN,(A6-PFC) Boeing 787,NaN,NaN,NaN,NaN,NaN
9,A2,NaN,NaN,Motor,41m (135ft),Feadship,20000000.0,458.0,43.668122,1983,...,NaN,NaN,https://www.superyachtfan.com/yacht/a2/,NaN,(N543GL) Bombardier Global 6000,NaN,NaN,NaN,NaN,NaN
10,AAA,NaN,sold to Toto Wolff,Motor,50m (164ft),Overmarine,35000000.0,485.0,72.164948,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Aalto,NaN,NaN,Motor,80m (262ft),Oceanco,150000000.0,2310.0,64.935065,2007,...,NaN,NaN,https://www.superyachtfan.com/yacht/amevi,NaN,(VQ-BLA) Gulfstream G550; G-LOBX Bombardier G...,NaN,NaN,NaN,NaN,NaN
12,AB Normal,NaN,NaN,Motor,29m (95ft),Inace,5000000.0,50.0,100.000000,2006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Abbentures,NaN,2025-01-01 00:00:00,Motor,44m (145ft),Benetti,25000000.0,471.0,53.078556,2023,...,Karen Hale,"Trevor, Thomas, and Brett Hale",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Abeona,NaN,may-21,Motor,75m (246ft),Damen,75000000.0,1900.0,39.473684,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Ability,NaN,2024-01-01 00:00:00,Motor,41m (134ft),Codecasa,10000000.0,286.0,34.965035,2007,...,Susan Panayiotou,"George Panayiotou, Costas Panayiotou",https://www.superyachtfan.com/yacht/ability/,NaN,(G-MRAP) Bombardier Challenger 300,NaN,NaN,NaN,NaN,NaN
16,Abu Al Abyad,NaN,NaN,Motor,51m (168ft),Feadship,15000000.0,567.0,26.455026,1980,...,NaN,NaN,NaN,NaN,(A6-PFC) Boeing 787,NaN,NaN,NaN,NaN,NaN
17,Acala,NaN,2022-12-01 00:00:00,Motor,43m (141ft),Cantiere delle Marche (CdM),30000000.0,499.0,60.120240,2023,...,Sharon Fastlicht Kurian (m. 2004),"Emilio Daniel Azcárraga Fastlicht, Hanna Sofia...",https://www.superyachtfan.com/yacht/madsummer/,NaN,(XA-EAY) Gulfstream G550,NaN,NaN,NaN,NaN,NaN
18,Ace of Egypt,NaN,2021-10-01 00:00:00,Motor,27m (87ft),San Lorenzo,4000000.0,90.0,44.444444,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Acqua Chiara,NaN,march-23,Motor,47m (154ft),Columbus,25000000.0,496.0,50.403226,2025,...,Chiara Giugliano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# OFFSHORE DATASET

In [17]:
df = pd.read_csv('nodes-addresses.csv')
df.head(20)

,node_id,address,name,countries,country_codes,sourceID,valid_until,note
0,24000001,"ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
1,24000002,"SUITE E-2,UNION COURT BUILDING, P.O. BOX N-818...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
2,24000003,"LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785,...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
3,24000004,"P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
4,24000005,"LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. ...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
5,24000006,"303 SHIRLEY STREET, P.O. BOX N-492, NASSAU, BA...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
6,24000007,"OCEAN CENTRE, MONTAGU FORESHORE, P.O. BOX SS-1...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
7,24000008,"PROVIDENCE HOUSE, EAST WING EAST HILL ST, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
8,24000009,"BAYSIDE EXECUTIVE PARK, WEST BAY & BLAKE, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
9,24000010,"GROUND FLOOR, GOODMAN'S BAY CORPORATE CE, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
10,24000011,"TK HOUSE, BAYSIDE EXECUTIVE PARK, P.O. BOX AP-...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
11,24000012,"BAYSIDE HOUSE WEST BAY & BLAKE ROAD, P.O. BOX ...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
12,24000013,"#308 EAST BAY ST. 4TH FLOOR, P.O. BOX N-7768, ...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
13,24000014,"THE RIGARNO BUILDING BAY & VICTORIA AVE., P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
14,24000015,"#1 MILLARS COURT, P.O. BOX N-7117, NASSAU, BAH...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
15,24000016,"MAREVA HOUSE 4 GEORGE STREET, P.O. BOX N-3937,...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
16,24000017,"SASSOON HOUSE SHIRLEY ST. & VICTORIA AVE, P.O....",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
17,24000018,"WINTERBOTHAM PLACE MARLBOROUGH & QUEEN, P.O. B...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
18,24000019,"P.O. BOX N-3242, 3RD FLOOR, MONTAGUE STERLING ...",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN
19,24000020,"P.O. BOX N-9100, NASSAU, BAHAMAS",NaN,Bahamas,BHS,Bahamas Leaks,The Bahamas Leaks data is current through earl...,NaN

In [18]:
df = pd.read_csv('nodes-entities.csv')
df.head(20)

/var/folders/4p/1hb6xh85081_hpl5qx7hz9fr0000gn/T/ipykernel_20898/1775839493.py:1: DtypeWarning: Columns (2,3,6,7,10,11,12,13,14,15,16,17,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('nodes-entities.csv')

,node_id,name,original_name,former_name,jurisdiction,jurisdiction_description,company_type,address,internal_id,incorporation_date,...,struck_off_date,dorm_date,status,service_provider,ibcRUC,country_codes,countries,sourceID,valid_until,note
0,10000001,"TIANSHENG INDUSTRY AND TRADING CO., LTD.","TIANSHENG INDUSTRY AND TRADING CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1001256.0,23-MAR-2006,...,15-FEB-2013,NaN,Defaulted,Mossack Fonseca,25221,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
1,10000002,"NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.","NINGBO SUNRISE ENTERPRISES UNITED CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1001263.0,27-MAR-2006,...,15-FEB-2014,NaN,Defaulted,Mossack Fonseca,25249,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
2,10000003,"HOTFOCUS CO., LTD.","HOTFOCUS CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000896.0,10-JAN-2006,...,15-FEB-2012,NaN,Defaulted,Mossack Fonseca,24138,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
3,10000004,"SKY-BLUE GIFTS & TOYS CO., LTD.","SKY-BLUE GIFTS & TOYS CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000914.0,06-JAN-2006,...,15-FEB-2009,NaN,Defaulted,Mossack Fonseca,24012,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
4,10000005,FORTUNEMAKER INVESTMENTS CORPORATION,FORTUNEMAKER INVESTMENTS CORPORATION,NaN,SAM,Samoa,NaN,LOYAL PORT LIMITED 8/F; CRAWFORD TOWER 99 JERV...,1001266.0,19-APR-2006,...,15-FEB-2008,NaN,Changed agent,Mossack Fonseca,R25638,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
5,10000006,8808 HOLDING LIMITED,8808 HOLDING LIMITED (EX-DIAMOND LIMITED),DIAMOND LIMITED,SAM,Samoa,NaN,TWC MANAGEMENT LIMITED SUITE D; 19/F RITZ PLAZ...,1000916.0,05-JAN-2006,...,NaN,NaN,Active,Mossack Fonseca,23835,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
6,10000007,KENT DEVELOPMENT LIMITED,KENT DEVELOPMENT LIMITED,NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000022.0,26-JAN-2004,...,15-FEB-2006,NaN,Defaulted,Mossack Fonseca,15757,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
7,10000008,BONUS TRADE LIMITED,BONUS TRADE LIMITED,NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000049.0,13-FEB-2004,...,15-FEB-2009,NaN,Defaulted,Mossack Fonseca,15910,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
8,10000009,AMARANDAN LTD.,AMARANDAN LTD.,NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000024.0,26-JAN-2004,...,15-FEB-2006,NaN,Defaulted,Mossack Fonseca,15759,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
9,10000010,NEW IDEA LIMITED,NEW IDEA LIMITED,NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000079.0,30-MAR-2004,...,15-FEB-2007,NaN,Defaulted,Mossack Fonseca,16462,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
10,10000011,HUGH POWER LIMITED,HUGH POWER LIMITED,NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000081.0,30-MAR-2004,...,15-FEB-2008,NaN,Defaulted,Mossack Fonseca,16464,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
11,10000012,ULTIMATE GROUP LIMITED,ULTIMATE GROUP LIMITED,NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000095.0,05-APR-2004,...,NaN,NaN,Active,Mossack Fonseca,16573,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
12,10000013,VICTORY GROUP LIMITED,VICTORY GROUP LIMITED,NaN,SAM,Samoa,NaN,GO SHINE MANAGEMENT CO.; LTD. ROOM B; 5F.; NO....,1000077.0,30-MAR-2004,...,15-FEB-2010,NaN,Defaulted,Mossack Fonseca,16460,TWN,Taiwan,Panama Papers,The Panama Papers data is current through 2015,NaN
13,10000014,CHARTER MARK LIMITED,CHARTER MARK LIMITED,NaN,SAM,Samoa,NaN,"AFOR LAW FIRM, SICHUAN CHENGDU SHUANGNAN PIK W...",1000052.0,13-FEB-2004,...,15-FEB-2011,NaN,Defaulted,Mossack Fonseca,15913,CHN,China,Panama Papers,The Panama Papers data is current through 2015,NaN
14,10000015,"Wide International Trading Co., Ltd.","Wide International Trading Co., Ltd.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000935.0,06-JAN-2006,...,NaN,NaN,Active,Mossack Fonseca,24014,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
15,10000019,HTSS ET CAPITAL LIMITED,HTSS ET CAPITAL LIMITED,NaN,SAM,Samoa,NaN,TWC MANAGEMENT LIMITED SUITE D; 19/F RITZ PLAZ...,1001721.0,21-AUG-2006,...,15-FEB-2015,NaN,Defaulted,Mossack Fonseca,27502,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
16,10000020,JIE LUN INVESTMENT LIMITED,JIE LUN INVESTMENT LIMITED,NaN,SAM,Samoa,NaN,MEI SERVICES LIMITED ROOM E; 6TH FLOOR; EASTER...,1001323.0,10-APR-2006,...,NaN,NaN,Active,Mossack Fonseca,25475,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN
17,10000021,FORTUNE PALACE LIMITED,FORTUNE PALACE LIMITED,NaN,SAM,Samoa,NaN,"AFOR LAW FIRM, SICHUAN CHENGDU SHUANGNAN PIK W...",1000087.0,29-MAR-2004,...,15-FEB-2006,NaN,Defaulted,Mossack Fonseca,16408,CHN,China,Panama Papers,The Panama Papers data is current through 2015,NaN
18,10000024,LAKE STREET INVESTMENTS LTD.,LAKE STREET INVESTMENTS LTD. (EX-QUEENSLAND OV...,QUEENSLAND OVERSEAS LTD.,SAM,Samoa,NaN,FCI LTD. ATT.: MR. DAVID RISBEY POSTFACH 24 72...,1000054.0,06-FEB-2004,...,15-FEB-2006,NaN,Inactivated,Mossack Fonseca,15858,CHE,Switzerland,Panama Papers,The Panama Papers data is current through 2015,NaN
19,10000016,"NINGBO RAPID INTERNATIONAL TRADING CO., LTD.","NINGBO RAPID INTERNATIONAL TRADING CO., LTD.",NaN,SAM,Samoa,NaN,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...,1000944.0,12-JAN-2006,...,15-FEB-2014,NaN,Defaulted,Mossack Fonseca,24181,HKG,Hong Kong,Panama Papers,The Panama Papers data is current through 2015,NaN

In [19]:
df = pd.read_csv('nodes-intermediaries.csv')
df.head(20)

,node_id,name,status,internal_id,address,countries,country_codes,sourceID,valid_until,note
0,11000001,"MICHAEL PAPAGEORGE, MR.",ACTIVE,10001,MICHAEL PAPAGEORGE; MR. 106 NICHOLSON STREET B...,South Africa,ZAF,Panama Papers,The Panama Papers data is current through 2015,NaN
1,11000002,CORFIDUCIA ANSTALT,ACTIVE,10004,NaN,Liechtenstein,LIE,Panama Papers,The Panama Papers data is current through 2015,NaN
2,11000003,"DAVID, RONALD",SUSPENDED,10014,NaN,Monaco,MCO,Panama Papers,The Panama Papers data is current through 2015,NaN
3,11000004,"DE BOUTSELIS, JEAN-PIERRE",SUSPENDED,10015,NaN,Belgium,BEL,Panama Papers,The Panama Papers data is current through 2015,NaN
4,11000005,THE LEVANT LAWYERS (TLL),ACTIVE,10029,NaN,Lebanon,LBN,Panama Papers,The Panama Papers data is current through 2015,NaN
5,11000006,"ABARTH, ANNELIESE",UNRECOVERABLE ACCOUNTS,1004,MS. ANNELIESE ABARTH 20 BOULEVARD PRINCESSE CH...,Monaco,MCO,Panama Papers,The Panama Papers data is current through 2015,NaN
6,11000007,FIGEST CONSEIL S.A.,ACTIVE,10064,NaN,Switzerland,CHE,Panama Papers,The Panama Papers data is current through 2015,NaN
7,11000008,MED ENERGY S.A.L.,ACTIVE,10106,NaN,Lebanon,LBN,Panama Papers,The Panama Papers data is current through 2015,NaN
8,11000009,TRUSTCO LABUAN SDN BHD,SUSPENDED,10116,TRUSTCO LABUAN SDN RHD (409273-A); UNIT 3; (1)...,Malaysia,MYS,Panama Papers,The Panama Papers data is current through 2015,NaN
9,11000010,SYL LOGIC SERVICES SA,ACTIVE,10121,NaN,Switzerland,CHE,Panama Papers,The Panama Papers data is current through 2015,NaN
10,11000011,"LAFEVER, RONALD L.",SUSPENDED,10140,NaN,Spain,ESP,Panama Papers,The Panama Papers data is current through 2015,NaN
11,11000012,"BROUGH, CHARLES (MR.)",INACTIVE,1,MR. CHARLES BROUGH 61 SANDY LANE CHEAM; SURREY...,United Kingdom,GBR,Panama Papers,The Panama Papers data is current through 2015,NaN
12,11000013,MOURANT & CO. SECRETARIES LIMITED,SUSPENDED,10,MOURANT & CO. SECRETARIES LIMITED P. O. BOX 87...,Jersey;United Kingdom,JEY;GBR,Panama Papers,The Panama Papers data is current through 2015,NaN
13,11000014,"CREVON, GEORGES-ALAIN",SUSPENDED,10008,NaN,France,FRA,Panama Papers,The Panama Papers data is current through 2015,NaN
14,11000015,FIDUCIAIRE FERNAND KARTHEISER & CIE,SUSPENDED,1003,FIDUCIAIRE FERNAND KARTHEISER & CIE 57 ROUTE D...,Luxembourg,LUX,Panama Papers,The Panama Papers data is current through 2015,NaN
15,11000016,FIDUCIAIRE A. RICHARD S.A.,ACTIVE,10050,NaN,Switzerland,CHE,Panama Papers,The Panama Papers data is current through 2015,NaN
16,11000017,HOLLYSIDE MANAGEMENT LIMITED,SUSPENDED,10060,HOLLYSIDE MANAGEMENT LIMITED PA-TEH ROAD; SEC ...,Taiwan,TWN,Panama Papers,The Panama Papers data is current through 2015,NaN
17,11000018,FUDEM S.A.,SUSPENDED,10069,NaN,Switzerland,CHE,Panama Papers,The Panama Papers data is current through 2015,NaN
18,11000019,GBC GLOBAL BUSINESS CENTER SARL,ACTIVE,10078,NaN,Switzerland,CHE,Panama Papers,The Panama Papers data is current through 2015,NaN
19,11000020,"GNIDIN, MIHHAIL",ACTIVE,10086,NaN,Estonia,EST,Panama Papers,The Panama Papers data is current through 2015,NaN

In [21]:
df = pd.read_csv('nodes-officers.csv')
df.head(20)

,node_id,name,countries,country_codes,sourceID,valid_until,note
0,12000001,KIM SOO IN,South Korea,KOR,Panama Papers,The Panama Papers data is current through 2015,NaN
1,12000002,Tian Yuan,China,CHN,Panama Papers,The Panama Papers data is current through 2015,NaN
2,12000003,GREGORY JOHN SOLOMON,Australia,AUS,Panama Papers,The Panama Papers data is current through 2015,NaN
3,12000004,MATSUDA MASUMI,Japan,JPN,Panama Papers,The Panama Papers data is current through 2015,NaN
4,12000005,HO THUY NGA,Viet Nam,VNM,Panama Papers,The Panama Papers data is current through 2015,NaN
5,12000006,RACHMAT ARIFIN,Australia,AUS,Panama Papers,The Panama Papers data is current through 2015,NaN
6,12000007,TAN SUN-HUA,Philippines,PHL,Panama Papers,The Panama Papers data is current through 2015,NaN
7,12000008,Ou Yang Yet-Sing and Chang Ko,Taiwan,TWN,Panama Papers,The Panama Papers data is current through 2015,NaN
8,12000009,Wu Chi-Ping and Wu Chou Tsan-Ting,Taiwan,TWN,Panama Papers,The Panama Papers data is current through 2015,NaN
9,12000010,ZHONG LI MING,China,CHN,Panama Papers,The Panama Papers data is current through 2015,NaN
10,12000011,LIN PING,China,CHN,Panama Papers,The Panama Papers data is current through 2015,NaN
11,12000012,BOSHEN LTD./135-77,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
12,12000013,BOSHEN LTD./133-58,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
13,12000014,BOSHEN LTD./132-50,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
14,12000015,BOSHEN LTD.,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
15,12000016,ALGONQUIN TRUST LTD.,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
16,12000017,ALGONQUIN TRUST PANAMA,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
17,12000018,MIRABAUD & CIE/111-40,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
18,12000019,BOSHEN LTD./137-93,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
19,12000020,BOSHEN LTD./136-83,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN

In [25]:
df = pd.read_csv('nodes-others.csv')
df.head(20)

,node_id,name,type,incorporation_date,struck_off_date,closed_date,jurisdiction,jurisdiction_description,countries,country_codes,sourceID,valid_until,note
0,85004929,ANTAM ENTERPRISES N.V.,LIMITED LIABILITY COMPANY,18-MAY-1983,NaN,28-NOV-2012,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.
1,85008443,DEVIATION N.V.,LIMITED LIABILITY COMPANY,28-JUN-1989,31-DEC-2002,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
2,85008517,ARIAZI N.V.,LIMITED LIABILITY COMPANY,19-JUL-1989,NaN,19-MAY-2004,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.
3,85008542,FLAIRUBA N.V.,LIMITED LIABILITY COMPANY,27-JUL-1989,24-JUL-2000,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
4,85008583,S.L. ARUBA FISHERIES TRADING N.V.,LIMITED LIABILITY COMPANY,01-AUG-1989,NaN,29-OCT-2007,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.
5,85008632,PALCOHI ARUBA N.V.,LIMITED LIABILITY COMPANY,18-AUG-1989,23-APR-2009,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
6,85008634,CHEECHO (ARUBA) N.V.,LIMITED LIABILITY COMPANY,18-AUG-1989,22-OCT-1996,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
7,85008647,WINTERGARDEN N.V.,LIMITED LIABILITY COMPANY,22-AUG-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
8,85008675,CRUKEL (ARUBA) II N.V.,LIMITED LIABILITY COMPANY,29-AUG-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
9,85008706,CARAMBOLA N.V.,LIMITED LIABILITY COMPANY,04-SEP-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
10,85008794,BEACH BUM CO N.V.,LIMITED LIABILITY COMPANY,29-SEP-1988,30-DEC-2005,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
11,85008888,DE LANDAUER N.V.,LIMITED LIABILITY COMPANY,16-OCT-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
12,85009016,RUPCHAND SONS N.V.,LIMITED LIABILITY COMPANY,16-NOV-1989,NaN,05-SEP-2016,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Liquidation date.
13,85009035,ASSANG TRADING COMPANY N.V.,LIMITED LIABILITY COMPANY,20-NOV-1989,NaN,18-DEC-2007,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,Closed date stands for Cancelled date.
14,85009054,RED SAIL SPORTS ARUBA N.V.,LIMITED LIABILITY COMPANY,10-JAN-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
15,85009128,DEALS ON WHEELS N.V.,LIMITED LIABILITY COMPANY,06-DEC-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
16,85009129,JAVARUBA N.V.,LIMITED LIABILITY COMPANY,06-DEC-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
17,85009212,FURNITURE OUTLET CENTER N.V.,LIMITED LIABILITY COMPANY,28-DEC-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
18,85009213,LING & SONS HOLDING & MANAGEMENT N.V.,LIMITED LIABILITY COMPANY,28-DEC-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN
19,85009339,ARTMAR N.V.,LIMITED LIABILITY COMPANY,28-DEC-1989,NaN,NaN,AW,Aruba,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current throu...,NaN

In [27]:
df = pd.read_csv('relationships.csv')
df.head(20)

/var/folders/4p/1hb6xh85081_hpl5qx7hz9fr0000gn/T/ipykernel_20898/4207579605.py:1: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('relationships.csv')

,node_id_start,node_id_end,rel_type,link,status,start_date,end_date,sourceID
0,10002580,14106952,registered_address,registered address,NaN,NaN,NaN,Panama Papers
1,10004460,14101133,registered_address,registered address,NaN,NaN,NaN,Panama Papers
2,10023813,14105100,registered_address,registered address,NaN,NaN,NaN,Panama Papers
3,10023840,14100712,registered_address,registered address,NaN,NaN,NaN,Panama Papers
4,10010428,14093957,registered_address,registered address,NaN,NaN,NaN,Panama Papers
5,10012916,14093957,registered_address,registered address,NaN,NaN,NaN,Panama Papers
6,10016348,14091822,registered_address,registered address,NaN,NaN,NaN,Panama Papers
7,10016353,14092974,registered_address,registered address,NaN,NaN,NaN,Panama Papers
8,10022392,14098791,registered_address,registered address,NaN,NaN,NaN,Panama Papers
9,10022689,14092925,registered_address,registered address,NaN,NaN,NaN,Panama Papers
10,10033748,14104667,registered_address,registered address,NaN,NaN,NaN,Panama Papers
11,10000580,14097397,registered_address,registered address,NaN,NaN,NaN,Panama Papers
12,10005830,14093248,registered_address,registered address,NaN,NaN,NaN,Panama Papers
13,10012274,14097854,registered_address,registered address,NaN,NaN,NaN,Panama Papers
14,10008180,14108697,registered_address,registered address,NaN,NaN,NaN,Panama Papers
15,12195425,10000601,officer_of,shareholder of,NaN,17-NOV-2005,NaN,Panama Papers
16,10012071,14093248,registered_address,registered address,NaN,NaN,NaN,Panama Papers
17,10013135,14091822,registered_address,registered address,NaN,NaN,NaN,Panama Papers
18,10022242,14100513,registered_address,registered address,NaN,NaN,NaN,Panama Papers
19,10026712,14096975,registered_address,registered address,NaN,NaN,NaN,Panama Papers